

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    background-image: url('./image.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container{
    height: 100%;
    align-content: center;
}

.card{
    height: 300px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}


.card-header h3{
    color: white;
    text-align: center;
}


.input-group-prepend span{
    width: 50px;
    background-color: #50C878;
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

}

.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: black;
    background-color: white;
    width: 100px;
    margin: 0 0 20px 20px;
}

.login_btn:hover{
    color: black;
    background-color: white;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}

.error-message{
    color:red;
}

.term{
    padding-bottom: 10px;
}

.search{
    float: right;
}